@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ecf0f1;
}

img {
    max-width: 100%;
}

#header {
    background-color: #c0392b;
    color: #fff;
    padding: 20px 0;
}

#header h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
}

#content .status {
    font-size: 80px;
    font-weight: bold;
    padding-top: 50px;
}

#content .status.positive {
    color: #16a085;
}

#content .status.negative {
    color: #c0392b;
}

#footer {
    background-color: #2c3e50;
    color: #fff;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#footer p {
    padding-top: 20px;
}
